<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>17/02/15 23:24:04</td>   <td>0</td> <td title="&gt;&gt;AccountSettingsTest.beforeSuite()[pri:0, instance:test.AccountSettingsTest@1e88b3c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/15 23:24:19</td>   <td>15049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountSettingsTest.checkInputValidity()[pri:0, instance:test.AccountSettingsTest@1e88b3c]">checkInputValidity</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/15 23:24:19</td>   <td>15051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountSettingsTest.smallWindow()[pri:0, instance:test.AccountSettingsTest@1e88b3c]">smallWindow</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/15 23:24:19</td>   <td>15052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountSettingsTest.verifyChangedSettings()[pri:0, instance:test.AccountSettingsTest@1e88b3c]">verifyChangedSettings</td> 
  <td>main@89387388</td>   <td></td> </tr>
</table>
